/* feuille de styles pour cv-olivier */


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-VariableFont_wght.woff);
  src: url(../fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  src: url(../fonts/Raleway-Italic-VariableFont_wght.woff);
  src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
}

/*
Reset
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*
Eléments génériques
*/
body {
    --color-primary: #782221;
    --color-secondary: #dbc2a4;
    --color-tertiary: #2c1d27;    
  }

/*
Largeur de la page par défaut
*/
body {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Raleway";
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;*/
     
  }

/**
* Eléments principaux
*/
/*body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif; 
  }*/
  
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-primary);
  }
  
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 200px;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 30px;
    background-color: var(--color-secondary);
  }
  
footer {
    /*position: sticky;*/
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    font-weight: 600;
    font-size: 17px;
    color: white;
    background-color: var(--color-secondary);
  }

/**
* Image portrait
*/

header img {
    border-radius: 50%;
    box-shadow: 0 0 1.5em black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em 2em 1em 2em;
}

h1 {
  font-family: "Lato";
  color: white;
  margin: 10px;
}

h2 {
  font-family: "Lato";
  color: white;
  margin: 10px 10px 20px 10px;
}

address {
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

address a {
  color: white;
  margin: 10px 20px 10px 20px;
  text-decoration-line: none;
}

